# SQL Server Configuration
SQL_USER=sa
SQL_PASSWORD=YourStrong@Passw0rd
SQL_SERVER=localhost
SQL_PORT=1433
SQL_DB=master

# Docker Configuration
DOCKER_IMAGE=mcr.microsoft.com/mssql/server:2022-latest
CONTAINER_NAME=sqlserver-demo 